 body, html {
      height: 100%;
      margin: 0;
      font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }


.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Button styles */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#addUserButton {
  padding: 12px 24px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 40px;
}

#addUserButton:hover {
  background-color: #0056b3;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
  font-size: 20px;
  background: none;
  border: none;
  padding: 0;
}

.close:hover {
  color: #555;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

select{
         padding: 10px;
          margin-bottom: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Applying styles to the Add User button outside of the user list */
#addUserButton {
  clear: both;
}


/* Improving spacing for form elements */
input[type="text"],
input[type="password"],
input[type="number"],
button[type="submit"] {
  padding: 10px;
  margin-bottom: 15px;
}

/* Centering the form horizontally */
.modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}








ul#userList li {
  border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Align user details horizontally */
    align-items: center; /* Center user details vertically */
    opacity: 50; /* Start with 0 opacity */
    transform: translateX(-10px); /* Start with a -10px translation to the left */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Add spacing between user details */
ul#userList li > * {
  margin: 5px; /* Adjust as needed for spacing */
}

/* Add hover effect to user list items */
ul#userList li:hover {
  background-color: #e0e0e0; /* Change the background color on hover */
  cursor: pointer; /* Change the cursor to indicate interactivity */
  opacity: 1; /* Fade in the item on hover */
  transform: translateX(0); /* Slide the item to its original position on hover */
}



